*.iml
.gradle
/local.properties
/.idea/shelf
/.idea/workspace.xml
/.idea/caches
/.idea/libraries
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/modules.xml
/.idea/deploymentTargetSelector.xml
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
local.properties
*.hprof
hs_err_pid*
replay_pid*
*.exe
